// ====== VARIABLES ======
$font-size-1: 22px;


// ====== RULES ======
body {
  padding: 20px;
}

h1 {
  font-family: sans-serif;
}

#pollform {
  margin-bottom: 50px;
  margin-top: 35px;
  input {
    display: block;
    font-size: $font-size-1;
    margin-bottom: 15px;
    width: 400px;
    &.titleinput {
      margin-bottom: 35px;
    }
  }
}

#createbutton {
  margin-top: 30px;
  font-size: $font-size-1;
  border-radius: 5px;
  color: white;
  background-color: #1e90ff;
  &:hover {
    background-color: #0077ea;
  }
}
